/* AUTO=sticky_menu */ .l-top_menu-v2 { position: sticky; top: 0; } .l-top_menu-v2 .active .submenu { max-height: calc(100vh - 46px); overflow: auto; }
/*Изменение цвета выделения*/
::selection{
 color: #fff;
 background: #ff6d70;
}
 
/*Изменение фоновой картинки.*/
body {
 background: fixed url(https://i.ytimg.com/vi/KV-mmErUb-Y/maxresdefault.jpg) no-repeat #000 !important;
  background-size: cover !important;
}
 
/*Инверсия цвета для некоторых элементов.*/
.b-rate .stars-container,
.l-top_menu-v2 .global-search input,
.b-height_shortener .shade,
.b-collection_search .field,
.CodeMirror-vscrollbar,
.b-main_search .input,
.l-page .menu-toggler .toggler,
.b-input select,
.b-input input[type=number],
.b-input textarea[type=number],
.b-input input[type=text],
.b-input input[type=file]{
 filter: invert(100%);  
}
 
.b-input input[disabled]{
  color: #fff;
  background: #333;
  border-color: #333;
}
 
.ac_results.menu-suggest .ac_even, .ac_results.menu-suggest .ac_odd,
.b-table tr, .b-table td,
.p-user_rates-index .list-groups .summary.posters.list,
.p-user_rates-index .list-groups .summary.posters.library{
 background: #000;
 border: none;
 color: #fff;
}
 
.ac_results.menu-suggest .ac_even:hover, .ac_results.menu-suggest .ac_odd:hover{
 background: #ff6d70;
}
 
/*Обесцвечивание логотипа Bluray возле выбора видео в плеере.*/
.b-video_variant .video-quality.bd{ 
  filter: grayscale(100%);
}
 
/*Перекрашивание ссылок из синего в кирпичный.
Наверное, это можно было сделать компактнее.*/
a,
.b-stats_bar a.title,
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility a, .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility span.link-replacement,
.headline>a, .midheadline>a, .subheadline>a,
.b-shiki_editor footer .about-bb_codes,
.l-footer .links a,
.b-options-floated a, .b-options-floated .link,
.b-form .cancel,
.b-link,
header.head h1 a.back, header.head h2 a.back,
.b-stats_bar .stat_names .stat_name a,
.p-profiles .profile-head .c-mobile-actions a, .p-profiles .profile-head .c-mobile-actions span,
.b-catalog_entry .cover .title,
.p-dashboards-show .c-content .options .option,
.b-forums .forum .link-with-input .link,
.b-topic>.inner header .name-date a.name,
.p-dashboards .user_list .list-type>.title .switch, .p-dashboards .user_list .history>.title .switch,
.p-dashboards .user_list .list-type>.title .link, .p-dashboards .user_list .history>.title .link,
.b-entry-info .line a,
.b-catalog_entry-tooltip .inner .line .value .tag,
.b-db_entry>.c-about .additional-links .line-container>.link, .b-db_entry>.c-about .additional-links .line-container>a,
.b-height_shortener .expand,
.b-catalog_entry-tooltip .inner a.name,
.b-db_entry-note .name-container .name,
.b-spoiler label,
.b-mention, .b-mention s,
.b-comment>.inner header .name-date a.name,
.b-user.named_avatar .name,
.b-animes-menu .menu-topics-block .entry .name,
.b-lang_trigger span,
.b-user16,
.p-user_rates-index .stat-categories .category,
.b-options-floated .action,
.b-options-floated.mobile-desktop a,
header.head a.misc, header.head a.edit,
.p-topics header h1 a.reload,
.p-animes_collection-index .pagination .link, .p-mangas_collection-index .pagination .link, .p-recommendations-index .pagination .link, .p-userlist_comparer-show .pagination .link,
.b-video_variant.active a,
.p-anime_videos-index .c-videos .video-variant-switcher,
.b-video_variant a,
.b-video_variant .video-author,
.subheadline .misc-links>a,
.b-dialog>.inner header .name-date a.name,
.b-message>.inner header .name-date a.name,
.b-user.detailed .history .line a .event,
.p-profiles-edit .account .change-password a,
.p-profiles-edit .misc .profile-action a:not(.b-button), .p-profiles-edit .misc .profile-action .link, .p-profiles-edit .misc .nickname-changes a:not(.b-button), .p-profiles-edit .misc .nickname-changes .link, .p-profiles-edit .list .profile-action a:not(.b-button), .p-profiles-edit .list .profile-action .link, .p-profiles-edit .list .nickname-changes a:not(.b-button), .p-profiles-edit .list .nickname-changes .link,
.b-js-link,
.p-contests-index .contest a,
.p-contests .results a,
.p-contests .match-day .match-link a,
.p-contests .rating .member a,
.b-contest_match .vs .actions .action span,
.b-club .name,
.c-actions .new_comment:after,
.c-actions .new_review:after,
.c-actions .fav-add:after,
.c-actions .edit:after,
.b-options-floated.mobile-phone a,
.b-tag,
.b-topic .footer-vote .vote-group .vote,
.p-profiles .profile-head .c-info .c-additionals div a,
.c-actions .fav-remove:after,
.p-user_history-index .history-page .history-interval p a,
.b-options-floated.mobile-phone_portrait a,
.p-userlist_comparer .comparer table .name a,
.b-shiki_editor footer .unpreview:not(.link), .b-shiki_editor footer .cancel, .b-shiki_editor footer .hide,
.p-profiles-show .about a,
.b-comments .comments-collapser,
.club-actions .upload:after,
.club-actions .invite:after,
.club-actions .leave:after,
.b-bb_codes-examples .result a,
.b-edit_styles .edit_style .style_css .editor-expand.active,
.b-edit_styles .edit_style .style_css .editor-collapse.active,
.p-profiles .profile-head .c-brief header .notice a,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-reply,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-delete,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-cancel,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-edit,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-moderation,
.b-topic.aside-expanded>.inner aside.buttons .main-controls .item-ignore,
.b-topic.aside-expanded>.inner aside.buttons .main-controls .item-reply,
.b-topic.aside-expanded>.inner aside.buttons .main-controls .item-cancel{
 color: #ff6d70;
 font-weight: bold;
 border: none;
}
 
.l-top_menu .menu-items .entry a, .l-top_menu .submenu>.entry, .b-main_search ul.popup,
.b-main_search .popup li.active,
.b-main_search .popup li:hover,
.b-main_search .input input,
.b-main_search ul.popup li,
.ac_results,
div.b-db_entry-variant-list_item{
 border: none;
}
 
.p-user_rates-index .list-lines tr td .new-value .item-add{
 position: relative;
}
 
.p-user_rates-index .list-lines tr .name a{
  color: #ff6d70;
  font-weight: bold;
}
 
.p-user_rates-index .list-lines tr .name a:hover{
  color: #fff;
}
 
/*Удаление обводки у некоторых элементов*/
.p-dashboards-show .cc-news .c-generated_news .b-topic,
.b-topic,
.b-db_entry-note,
.p-topics .l-menu .sticky-topics .topic,
.p-topics .l-menu .clubs .entry,
.p-topics .l-menu .reviews .entry,
.l-top_menu .entry,
.p-profiles .profile-head .c-history .entry{
 border: none; 
}
 
.p-user_rates-index .list-groups .summary.lines.library{
 border-color: #333; 
}
 
/*Изменение пиктограмм списка*/
.b-list li{
 color: #ff6d70;
 list-style-image: none;
 list-style: disc;
}
 
/*Изменение стиля цитат*/
.b-quote {
   background: #000!important;
   color: #fff!important;
   border: 1px dashed;
}
 
/*Изменение цвета блока "Наверх" слева*/
.b-to-top .slide:before{
 background: #000;
}
 
/*Изменение цвета блока с выбором действий у аниме и манги, типа просмотрено, прочитанно, отложенно и т.д.*/
.b-link_button.dark,
.b-link_button,
.b-add_to_list.watching .trigger, .b-add_to_list.watching .option,
.b-db_entry-note .name-container .b-user_rate .b-add_to_list .trigger, .b-db_entry-note .name-container .b-user_rate .b-add_to_list .option,
.b-add_to_list.planned .trigger, .b-add_to_list.planned .option,
.b-comments-notifier, .b-add_to_list.completed .trigger, .b-add_to_list.completed .option,
.b-add_to_list.rewatching .trigger, .b-add_to_list.rewatching .option,
.b-add_to_list.on_hold .trigger, .b-add_to_list.on_hold .option,
.b-add_to_list.dropped .trigger, .b-add_to_list.dropped .option{
 color: #fff;
 background: #ff6d70;
 border: none;
}
 
 
.b-add_to_list .plus,
.b-add_to_list.completed .edit,
.b-add_to_list.dropped .edit,
.b-add_to_list.on_hold .edit,
.b-add_to_list .expanded-options .remove-trigger .text{
 color: #fff; 
}
 
.b-link_button.dark:hover,
.b-link_button:hover,
.p-user_rates-index .list-lines tr.editable:hover,
.b-comments-notifier:hover{
 background: #cb4154;
 border: none;
}
 
.p-user_rates-index .list-lines tr.editable:hover,
 
/*Изменение цвета кнопок*/
.b-form input[type=submit],
.b-button{
 background: #ff6d70;
 border-radius: 3px;
 transition: background-color .1s linear;
 transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}
 
/*Изменение цвета кнопок при наведении*/
.b-form input[type=submit]:hover,
.b-button:hover{
 background: #cb4154;
}
 
.tooltip-inner .close,
.b-comments .comments-loader, .b-comments .comments-hider, .b-comments .comments-expander,
.p-animes-show .other-names.click-loader, .p-mangas-show .other-names.click-loader, .p-ranobe-show .other-names.click-loader,
.p-user_rates-index .list-lines tr.edit-form form,
.b-shiki_editor.previewed .body .preview,
.b-hot_topics-v2{
 color: #fff;
 background: #000;
 border: none;
}
 
.b-entry-info .line .b-tag{
 color: #ff6d70;
 font-weight: bold;
 border: none;
}
 
.b-anime_status_tag.news:before,
.b-comments .comments-loader:hover,
.b-comments .comments-expander:hover{
 color: #fff;
 background: #ff6d70;
 border: none;
}
 
.b-hot_topics,
.p-dashboards-show .cc-second .cc-inner .c-my_list,
.tooltip-inner,
.b-postloader.collapsed,
.b-topic .footer-vote{
 border: none;
 background: #000;
 color: #fff;
}
 
.p-dashboards-show .cc-news .c-news_topics .b-topic,
.b-comment,
.l-top_menu .submenu,
.p-dashboard .l-content .b-catalog_entry,
.p-dashboard .l-menu .ongoing{
 border: none; 
}
 
.cm-s-solarized.cm-s-light .CodeMirror-linenumber,
.b-shiki_editor .body .editor textarea {
 background: #000;
 border: 0px;
}
 
/*Изменение цвета некоторых надписей и кнопок на серый*/
.p-profiles .profile-head .c-brief header .notice,
.p-profiles-show .profile-content .activity .title,
.bar.vertical .line .x_label,
.b-hot_topics .topic.subject,
.b-catalog_entry .cover .misc span,
.b-entry-info .line .value,
.b-rate .score-notice,
.p-user_rates-index .list-groups .summary .stat-value,
.p-user_rates-index .list-groups .summary.lines,
.p-user_rates-index .l-content .order-control,
header.head .notice,
.b-video_player .cc-player_controls .episode-num .video-link a,
.p-anime_videos-index .same-videos .title,
.p-anime_videos-index .c-anime_video_episodes .title, .p-anime_videos-index .c-videos .title,
.b-video_variant .episode-num, .b-video_variant .video-id,
.b-video_variant .episode-hostings, .b-video_variant .video-hosting, .b-video_variant .video-language,
.b-user.detailed .history .line .event,
.p-contests .match-day .match-link .c-column.loser a, .p-contests .match-day .match-link .c-column.created a,
.b-animes-menu .total-rates,
.c-actions .new_comment,
.c-actions .new_review,
.c-actions .fav-add,
.c-actions .edit,
.c-actions .fav-remove,
.p-user_rates-index .list-lines tr td .rewatches{
 color: #9da2a8;
}
 
.p-profiles .profile-head .c-info .c-additionals b,
header.head h1 a.back:before, header.head h2 a.back:before,
.b-comment .inner .name-date a.name .normal,
.b-hot_topics-v2 .subject{
 color: #7b8084; 
}
 
.b-edit_styles .edit_style .style_css .editor-expand.active:hover,
.b-edit_styles .edit_style .style_css .editor-collapse.active:hover,
.p-user_rates-index .list-lines .selectable:hover{
 filter: brightness(0.6);
}
 
.p-user_rates-index .list-lines tr.edit-form .b-input.text textarea,
.b-bb_codes-examples .example .textarea{
 border: 1px solid #333; 
 color: #fff;
 background: #000;
}
 
.p-user_rates-index .list-lines tr td .new-value input{
 background: #333;
 border: none;
}
 
body[data-locale=ru] .b-offtopic_marker.off:before{
 border: 0px; 
}
 
/*Изменение цвета пропусков в нумерации строк кода и ползунка справа от редактора кода.*/
.CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber, .CodeMirror-scroll, .CodeMirror-sizer,
.b-edit_styles .page_background_color .range-slider .noUi-handle,
.l-top_menu-v2 .menu-dropdown > span{
 background: #000;
}
 
/*Удаление белой рамки вокруг редактора кода*/
.b-edit_styles .edit_style .style_css .CodeMirror, .b-edit_styles .new_style .style_css .CodeMirror {
 background: #000;
 border: 0px;
}
 
/*Удаление тени текста в редакторе кода. С ней текст был расплывчатый.*/
.cm-s-solarized.cm-s-light{
 text-shadow: #000 0 0px; 
}
 
/*Нумирация строк кода белым цветом*/
.CodeMirror pre, .cm-s-solarized.cm-s-light .CodeMirror-linenumber, .b-shiki_editor .body .editor textarea{
 color: #fff; 
 border: 0px;
}
 
.b-collection_search .field input{
 border: none;
 color: #000;
}
 
/*Изменение цвета позунка и ввода текста справа от редактора кода*/
.noUi-connects{
 background: #000;
 color: #fff;
}
 
.b-edit_styles .body_background #body_background_input{
 border-color: #000; 
}
 
.b-input select{
 color: #000; 
}
 
/*Изменение цвета столбцов активности в профиле*/
.bar.simple .bar.s3 { background: #cb4154; 
transition: background-color .1s linear;
transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}
.bar.simple .bar:hover.s3 { background: #ff6d70;}
.bar.simple .bar.s2 { background: #cb4154;
transition: background-color .1s linear;
transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}
.bar.simple .bar:hover.s2 { background: #ff6d70;}
.bar.simple .bar.s1 { background: #cb4154;
transition: background-color .1s linear;
transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}
.bar.simple .bar:hover.s1 { background: #ff6d70;}
.bar.simple .bar.s0 { background: #cb4154;
transition: background-color .1s linear;
transition-timing-function: cubic-bezier(0, 0, 0.3, 1);}
.bar.simple .bar:hover.s0 { background: #ff6d70;}
 
.b-stats_bar.lifetime .bar .first {
 background: #ff6d70;
}
 
/*Изменение цвета шкалы манги и аниме рядом с аватаркой*/
.b-stats_bar.anime .bar .first,
.b-stats_bar .bar .third,
.b-stats_bar.manga .bar .first{
  background: #cb4154;
}
 
/*Вторая часть шкалы аниме и манги рядом с аватаркой*/
.b-stats_bar.anime .bar .second,
.b-stats_bar.manga .bar .second{
 background: #ff6d70;
}
 
div {
 color: #fff;
}
 
header.head h1, header.head h2{
 color: #fff; 
}
 
/*Скрытие блока с отчетом об ошибке слева*/
.b-feedback {
visibility: hidden;
}
 
/*Закругление аватарки*/
.avatar,
div.avatar img,
.p-user_rates-index .l-menu .avatar img,
.b-user.avatar img, .b-user.named_avatar img, .b-user.avatar_fixed_margin img,
.b-comment>.inner header img,
.b-user.detailed .info .image-name .image,
.b-dialog>.inner header img,
.b-message>.inner header img,
.l-top_menu-v2 .menu-dropdown.profile > span img{
 border-radius: 50%; 
}
 
.ac_results .character-suggest .avatar{
 border-radius: 0%;
}
 
/*Затемнение фона заголовков*/
.headline,
.midheadline,
.subheadline {
 color: #fff;
 background: #000;
 border-left: 0px;
}
 
/*Блок с контентом*/
.l-page {
background: #000;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
border-radius: 3px;
opacity: 0.9; /*полупрозрачность*/
margin-top: 14px; /*отступ шапки 46px*/
margin-bottom: 14px;
}
 
/*шапка*/
.l-top_menu-v2{
 background: #000;
 opacity: 0.9;
 border: 0px;
}
 
.l-top_menu .menu-items .entry a,
.l-top_menu .submenu>.entry,
.b-main_search ul.popup
{
 background: #000;
 border: 0px;
}
 
.l-top_menu .menu-items>.entry>.contest{
 display: none; 
}
 
b {
 color: #fff; 
}
 
/*Альтернативное расположение блоков в профиле от grin3671*/
@media only screen and (min-width: 768px) {
  .p-profiles-show .profile-content .cc-2 > .c-column {
    width: 100%;
  }
 
  .p-profiles-show .profile-content .cc-2 > .c-left {
    position: relative;
    width: 77%;
    padding-right: 30px;
    margin-right: 0;
    z-index: 1;
  }
 
  .p-profiles-show .lifetime {
    margin-bottom: 15px;
  }
 
  .p-profiles-show .profile-content .cc-2 > .c-right {
    float: none;
  }
 
  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a {
    width: 23%;
    overflow: hidden;
  }
 
  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a > .c-column {
    width: 100%;
    margin: 0;
  }
 
  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a > .c-column:last-child {
    margin-top: 15px;
  }
 
  .p-profiles-show .profile-content .cc-2 > .c-right > .block:last-child {
    clear: both;
  }
}
 
/*Далее адаптация под мобильные устройства*/
@media screen and (max-width: 1024px){
  
  body{
   background-size: auto !important; 
  }
  
 .p-profiles-show .b-feedback:after{
    display: none; 
 }
  
 /*Блок с контентом*/
  .l-page {
    background: #000;
    opacity: 0.9;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}
}